.landing-section {
    background-image: url("../../../public/images/people_couch.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;

    .left-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;

        .search-card {
            display:flex;
            justify-content: center;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            min-width: 90vw;
            height: auto;

            .search-title {
                font-weight: bold;
                font-size: 15px;
            }

            .search-form {
                display: flex;;
                justify-content: center;
                width: 80vw;

                .search-icons {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    margin-bottom: 1rem;
                }

                .form-control {
                    width: 100%;
                }

                .search-btn {
                    margin-top: 35px;
                }
            }   
        }
    }
    .scroll-down {
        position: absolute;
        bottom: 30px;
        .scroll-img {
            width: 30px;
            transition: 0.5s;
            -webkit-animation: breathing 2.5s ease-out infinite normal;
            animation: breathing 2.5s ease-out infinite normal;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    } 
}

.second-section {
    .promo-card {
        background-color: $black;
        border-radius: 5px;
        width: 100px !important;
        z-index: 999;

        .promo-logo {
            .promo-logo-img {
                width: 100px;
                opacity: 0.9;
            }
        }
    }
}

.third-section  {
    background-color: $black;
    height: 150px;
    align-items: center;

    .make-account-box {
        transition: 0.75s;
        transform: translateX(-380%);
        z-index: 999;
        opacity: 1;
        h4 {
            padding: 20px;
            border: 1px solid $white;
        } &:hover {
            background-color: rgba(255,255,255,0.7);
            color: black !important;
        }
    }

    .make-account-text {
        transform: translateX(230%);
        transition: 0.75s;
        .arrows-text , .arrows-left{
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
}

.fourth-section {
    .stat-icon  {
        width: 50px;
    }

    .stat-card {
        background-color: $black;
        color: $white;
        border-radius: 5px;
        width: 320px;
        padding: 5px;

        .stats-logo-img {
            width: 40px;
            height: 30px;
        }
    }
}



@include media-breakpoint-up(md) {
}


@include media-breakpoint-up(lg) {
    .landing-section {
        .left-column {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }
        .search-card {
            min-width: 35vw !important;
            height: auto !important;

            .search-title {
                font-size: 20px !important;
            }

            .search-form { 
                width: 35vw !important;
            }

            .search-icons {
                margin-right: 20px;
            }

            .form-control {
                width: 80%;
            }

            .search-btn {
                margin-top: 42.5px !important;
                width: 100% !important;
            }
        }
    }
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    60% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    60% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }



// $pathNumber: 18;

// // The color that will be at the beginning and the end of the loop.
// $firstColor: #2d2e30;

// // The list of all the used colors. You can add or remove colors, the animation stays fluid. The $first-color must remain at the end of the list though.
// $listColors: #574e50, #a39f99, #383c3d, rgb(27, 26, 27), $firstColor;

// $delayCoeff: 0.05s; 

// .svg {
//   display: inline-block;
//   height: 200px;
//   width: 200px;
//   line-height: 200px;
//   text-align: center;
//   background-color: #FFF;
//   border-radius: 50%;
// }

// #svg {
//   display: inline-block;
//   vertical-align: middle;
//   fill: $firstColor;
  
//   @for $i from 1 through 18 {

//       path:nth-child(#{$i}) {
//         animation: pweek $delayCoeff*$pathNumber linear infinite;
//         animation-delay: $i*$delayCoeff;
        
//         &:hover {
//           animation-play-state: paused;
          
//         }
//       }
//    }
// }

// @keyframes pweek {
//   0% {
//     fill: $firstColor;
//   }
//   @for $i from 1 through length($listColors) {
//     #{$i*(100/length($listColors))}% {
//       fill: nth($listColors, $i);
//     }
//   }
// }