.landing-section {
    background-image: url("../../../public/images/people_couch.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    .animatad-title {
        position:absolute;
        transform: translateY(-70px);
        color: $white;
        letter-spacing: 5px;
        text-transform: capitalize;
    }

    .left-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
        .search-card {
            display:flex;
            justify-content: center;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            min-width: 90vw;
            height: auto;

            .search-title {
                font-weight: bold;
                font-size: 15px;
            }

            .search-form {
                display: flex;;
                justify-content: center;
                width: 80vw;

                .search-icons {
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    margin-bottom: 1rem;
                }

                .form-control {
                    width: 100%;
                }

                .search-btn {
                    margin-top: 35px;
                }
            }   
        }
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .map-cta {
            border-radius: 10px;
            color: $white;
            opacity: 0.95;
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
                background-color: black !important;
            }
            h2 {
                font-size: 20px;
            }
            .map-icon {
                width: 40px;
                height: 40px;
            }
        }
    }
    .scroll-down {
        position: absolute;
        bottom: 30px;
        .scroll-img {
            width: 30px;
            transition: 0.5s;
            -webkit-animation: breathing 2.5s ease-out infinite normal;
            animation: breathing 2.5s ease-out infinite normal;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    } 
}

.second-section {
    .promo-card {
        background-color: $black;
        border-radius: 5px;
        width: 100px;
        z-index: 999;

        .promo-logo {
            svg g {
                fill: #EAE6EA;
                display: inline-block;
            }

            #spin-box {
                max-width: 46px;
                max-height: 46px;
                display: inline-block;
                
                .spinning-logo {
                    animation: spin 0.8s linear;
                    transform-origin: center right;
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(180deg);
                }

                100% {
                    transform: rotate(360deg);
                }     
            }

            .promo-logo-img {
                width: 100px;
                opacity: 0.9;
            }
        }
    }
}

.third-section  {
    background-color: $black;
    height: 150px;
    align-items: center;

    .make-account-box {
        transition: 0.75s;
        transform: translateX(-450%);
        z-index: 999;
        background-color: #323232;
        h4 {
            padding: 20px;
            border: 1px solid $white;
        } &:hover {
            background-color: rgba(255,255,255,0.7);
            color: black !important;
        }
    }

    .make-account-text {
        transform: translateX(260%);
        transition: 0.75s;
        .arrows-text , .arrows-left{
            font-size: 20px;
            letter-spacing: 1px;
            display:none;
        }
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
}

.stat-icon  {
    width: 50px;
}

.fourth-section {
    .stat-card {
        background-color: rgba(0,0,0,0.8);
        color: $white;
        border-radius: 5px;
        width: 100%;
        padding: 5px;

        .stats-logo-img {
            width: 40px;
            height: 30px;
        }
    }
}

.fifth-section  {
    #map-frontpage {
        height: 500px;
        width: 100%;

        .info-window {
            
            .info-window-icons {
                width: 13px;
            }
            .info-window-img {
                border-radius: 3px;
                width: 200px;
            }
            .info-window-text {
                max-width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

.sixth-section {
    a {
        text-decoration: none;
    }
    .user-box {
        .circle-user {
            width: 170px;
            max-height:170px;
            
            img {
                width: 150px;
                max-height: 170px;
                min-height: 150px;
                border-radius: 50%;
            }
        }
        .speech-bubble {
            position: relative;
            background: rgba(0,0,0,0.8);
            border-radius: .4em;
            height: 75%;
            width: 75%;
            color: $white;

            p {
                font-size: 11.5px;
            }
        }
        
        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 0.825em solid transparent;
            border-right-color: $dark;
            border-left: 0;
            border-bottom: 0;
            margin-top: -0.512em;
            margin-left: -0.825em;
        }
    }
}

@include media-breakpoint-up(xs) {
    .second-section {
        .center-row {
            justify-content: center !important;
        }
        .promo-card {
            width: 80% !important;
        }
    }
    .third-section  {
        .make-account-text {
            .arrows-text , .arrows-left{
                display:none;
            }
        }
    }

    .search-btn {
        width: 100%;
    }

    .fourth-section {
        .stat-row {
            justify-content: center;
            margin-bottom: 30px;

            .stat-card {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    .landing-section {
        .animatad-title {
            position:absolute;
            transform: translateY(-40px);
            font-size: 30px;
            color: $white;
            letter-spacing: 5px;
            text-transform: capitalize;
        }
    }
}

@include media-breakpoint-up(sm) {
    .landing-section {
        .animatad-title {
            position:absolute;
            transform: translateY(-40px);
            font-size: 15px;
            color: $white;
            letter-spacing: 5px;
            text-transform: capitalize;
        }
    }
    .second-section {
        .promo-card {
            width: 80% !important;
        }
    }
    .third-section  {
        .make-account-text {
                .arrows-text , .arrows-left{
                    display:block;
                }
        }
    }

    .fourth-section {
        .stat-row {
            .stat-card {
                width:100% !important ;
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .second-section {
        .center-row {
            justify-content: space-between !important;
        }
    }

    .fourth-section {
        .stat-row {
            .stat-card {
                width: 230px !important ;
            }
        }
    }

    .landing-section {
        .animatad-title {
            position:absolute;
            transform: translateY(-30px);
            font-size: 20px;
            color: $white;
            letter-spacing: 5px;
            text-transform: capitalize;
            margin-left: 20px;
        }
    }

    .sixth-section {
        .user-box-wrapper {
            display:block;
            .user-box {
                .circle-user {
                    width: 200px;
                    height: 200px;
                    border-radius: 45%;
                    display:flex;
                    align-items: center;
                    
                    img {
                        width: 200px;
                        max-height: 200px;
                    }
                }
                .speech-bubble {
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}


@include media-breakpoint-up(lg) {
    .landing-section {
        .left-column {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0px;
        }

        .right-column {
            transform: translateX(-30%);
        }
        .search-card {
            min-width: 35vw !important;
            height: auto !important;

            .search-title {
                font-size: 20px !important;
            }

            .search-form { 
                width: 35vw !important;
            }

            .search-icons {
                margin-right: 20px;
            }

            .form-control {
                width: 80%;
            }

            .search-btn {
                margin-top: 42.5px !important;
                width: 100% !important;
            }
        }
    }

    .fourth-section {
        .stat-row {
            .stat-card {
                width: 300px !important ;
            }
        }
    }
}

@media screen and (min-width: 989px) {
    .sixth-section {
        .user-box-wrapper {
            display:flex;
        }
    }
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    60% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    60% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

 // Path animations
 #a1p1, #a1p2 , #a1p3 , #a2p2, #a2p1, #a2p3, #a2p4, #a3p1, #a3p2, #a3p3, #a3p4,#a3p5
 {
    display:none;
 }

 #a1t1 ,#a2t1  ,#a3t1  {
    opacity: 0;
    transition: 0.2s;
 }
 #a1t2 ,#a1t3,#a2t2 ,#a2t3,#a3t2 ,#a3t3 {
    opacity: 0;
    transition: 0.5s;
 }

 .visible {
    opacity: 1 !important;
 }

