.search-btn {
    background-color: black;
    color:white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-image: url("../../../public/images/icons/loupe.png");
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    
    &:hover {
       color:white;
       font-weight:800;
    }
}

.login-btn {
    background:transparent; 
    color:white;
    border-radius: 20px;
    border: 1px solid black;
    min-width: 100px;
}

.save-btn {
    background-color: rgba(0,0,0,0.8); 
    color:white;
    border-radius: 5px;
    border: 1px solid black;

    &:hover {
        color:white;
        font-weight: lighter;
    }
}