.search-btn {
    background-color: $black;
    color:$white;
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    background-image: url("../../../public/images/icons/loupe.png");
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transform:translateY(4px);
    
    &:hover {
       color:white;
       background-color: black;
    }
}

.filter-btn {
    background-color: black;
    color:$white;
    padding: 5px 36px;
    border-radius: 5px;
    border: none;
    background-image: url("../../../public/images/icons/filter-icon.png");
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    transition: 1s;
    
    &:hover {
       color:white;
    }
}

.login-btn {
    background:transparent; 
    color:white;
    border: 1px solid rgba(255,255,255,0.7);    
    width: 10px !important;
    padding: 5px;
    transition: 0.75s;
    &:hover {
        background-color: rgba(255,255,255,0.7);
        color: black !important;
        border: 1px solid black;
    }
}

.save-btn {
    background-color: $black; 
    color:white;
    border-radius: 5px;
    border: 1px solid $black;

    &:hover {
        color:white;
        font-weight: lighter;
    }
}

.nav-btn {
    border: 1px solid rgba(255,255,255,0.3);
    transition: 0.5s;
    &:hover {
        padding-bottom: 3px;
        padding-top: 3px;
        transform: scale(1.2);
        border: 1px solid rgba(255,255,255,0.6);
        color: rgba(255,255,255,0.85) !important;
    }
}

.read-more-btn {
    text-decoration: none;
    color: $white;
    background-color: $black;
    padding: 5px 10px;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.action-link {
    padding: 2.5px 10px;
    text-decoration: none;
    transition: 0.25s;
    &:hover {
        text-decoration: none;
        transform:scale(1.2);
    }
}

.contact-btn {
    text-decoration: none;
    color: $white;
    background-color: $black;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: none;
    transition: 0.25s;
    &:hover {
        width: 100%;
        color: white;
    }
}

.cta-white {
    text-decoration: none;
    color: $black;
    background-color: $white;
    padding: 5px 40px !important;
    border:none;
    transition: 0.25s;
    width: 190px;
    &:hover {
        transform:scale(1.1);
        color:black;
        background-color: white;
    }
}

.info-window-cta {
    text-decoration: none;
    color: $white;
    background-color: $black;
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s;
    width: 65px;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: white;
    }
}