#chat-window {
    .left {
        min-width: 200px;
        .people {
            list-style:none;
            padding-left: 0;

            .person {
                border-bottom: 1px solid $white;
                background-color: $black;
                padding: 10px;
                color: $white;
                border-radius: 5px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        }
    }
    .right {
        .chat, .top {
            width: 100%;
        }
        .chat {
            height: 500px;
        }   
    }

    #chat-box {
        width: 70%;
        border-radius: 10px;
        
        .right-chat {
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            .top {
                background-color: $black;
                color: white;
                padding: 20px;
            }

            .chat {
                padding: 20px;
                height: 50vh;
                .card-text {
                    .me {
                        float: right;
                    }

                    .bubble {
                        width: 100%;
                    }
                }
            }

            .write {
                .card-footer {
                    background-color: $black !important;

                    input {
                        color: $black !important;
                        padding: 5px;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                    
                }
            }
        }
    }
}