#chat-window {
    .left {
        min-width: 200px;
        .people {
            list-style:none;
            padding-left: 0;

            .person {
                border-bottom: 1px solid $white;
                background-color: $black;
                padding: 10px;
                color: $white;
                border-radius: 5px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            @media  screen and (max-width: 1200px) {
                .person {
                    max-width:150px;
                }
            }
        }
    }
    .right {
        .chat, .top {
            width: 100%;
        }
        .chat {
            height: 500px;
        }   
    }

    #chat-box {
        width: 70%;
        border-radius: 10px;
        
        .right-chat {
            border-left: 1px solid $black;
            border-right: 1px solid $black;
            .top {
                background-color: $black;
                color: white;
                padding: 20px;

                .block {
                    color:$white;
                    text-decoration: none;
                }
            }

            .chat {
                padding: 20px;
                height: 50vh;
                
                .card-text {
                    .me {
                        float: right;
                    }

                    .bubble-me {
                        min-width: 30%;
                        max-width: 70%;
                        display:flex;
                        justify-content: flex-start;
                        background-color: grey;
                        color: $white;
                        border-radius: 10px;

                    }
                    .bubble-you {
                        max-width: 70%;
                        min-width: 30%;
                        background-color: $dark;
                        color: $white;
                        border-radius: 10px;
                    }
                }
            }

            .write {
                .card-footer {
                    background-color: $black !important;

                    input {
                        color: $black !important;
                        padding: 5px;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                    
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #chat-window {
        .left {
            .people {
                margin-top: 20px;
            }

        }
        #chat-box {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    #account-nav-scroll {
        display:none;
    }
}