.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1500;

    .navbar-nav {

    }
}

.white-text {
    color:white !important;
}

.black-text {
    color:black !important;
    margin-top: 20px;
}

@include media-breakpoint-up(md) {
    .black-text {
        margin-top: 0;
    }
}