.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    background-color: $black !important;
    z-index: 1500;
}

.white-text {
    color:white !important;
}

.nav-link {
    min-width: 100px !important;
    text-align:center;
}

.black-text {
    color:rgba(255,255,255,0.7) !important;
    margin-top: 20px;
}

.user-avatar {
    width: 60px;
    border-radius: 35%;
    //border: 1px solid black;
}

.unknown-user {
    width: 35px;
}

@include media-breakpoint-up(md) {
    .black-text {
        margin-top: 0;
    }
}

@media only screen and (max-width: 769px)  {
    .nav-btn {
        &:hover{
            padding: 8px;
            transform: scale(1);
        }
    }
    #navbar-dropdown {
        width:20%;
    }
    .dropdown {
        width: 100%;
    }
}

.dropdown-box {
    position: absolute;
}

.dropdown-menu {
    background-color: $dark;
    border: none !important;
    a {
        color: $white;
    }
}

 #notify-belll {
    z-index: 999;
    &:hover{
        cursor: pointer;
    }
}

.drop2 {
    margin-top: 25px !important;
    transform:translateX(-150px ) !important;
    min-width: 450px !important;
    max-height: 300px;
    overflow-y: scroll;
}

.notification-circle {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid grey;
    width:10px;
    height:10px;
    background-color: red;
    margin-left: 3px;
    display:none;
}

.notification-circle-chat {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid grey;
    width:10px;
    height:10px;
    background-color: red;
    margin-left: 3px;
}

.dropdown-menu-right {
    margin-top: 16px !important;
}