body {
    overflow-x:hidden !important;
}
.hidden {
    display:none;
}

.black {
    color:black;
}

.line {
    width: 100%;
    border-bottom: 1px solid black;
}

.black-bg {
    background: #636465;
}

.red-border {
    border: 1px solid red;
}

.heart-icon {
    width: 30px;
    cursor: pointer;
}

.very-small {
    font-size: 10px;
}

.views-icon {
    width: 25px;
    height: 15px;
}

.slider-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    transition: 0.5s;
    transform:translate(20%, 5%);
    z-index: 999;

    #message-slider {
        width: 20%;
        color: $white;
        background-color: $black;
        padding: 10px;
        
        .exclamation-mark {
            width: 20px;
            height: 20px;
        }
    }
}
