.hidden {
    display:none;
}

.black {
    color:black;
}

.line {
    width: 100%;
    border-bottom: 1px solid black;
}

.black-bg {
    background: #636465;
}

.w-49 {
    width: 100%;
}

@include media-breakpoint-up(md) {
    .w-49 {
        width: 49%;
    }
}