.hidden {
    display:none;
}

.user-avatar {
    width: 50px;
    border-radius: 60%;
    //border: 1px solid black;
}

.unknown-user {
    width: 50px;
    border-radius: 60%;
    border: 1px solid black;
}

.black {
    color:black;
}